@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%; /* zinc-50 */
        --sidebar-foreground: 240 5.3% 26.1%; /* zinc-700 */
        --sidebar-primary: 240 5.9% 10%; /* zinc-900 */
        --sidebar-primary-foreground: 0 0% 98%; /* zinc-50 */
        --sidebar-accent: 240 5.9% 90%; /* zinc-200 */
        --sidebar-accent-foreground: 240 5.9% 10%; /* zinc-900 */
        --sidebar-border: 240 5.9% 90%; /* zinc-200 */
        --sidebar-ring: 217.2 91.2% 59.8%; /* blue-500 */
    }
    .dark {
        --sidebar-background: 240 3.7% 15.9%; /* zinc-800 */
        --sidebar-foreground: 240 4.8% 95.9%; /* zinc-100 */
        --sidebar-primary: 224.3 76.3% 48%; /* blue-700 */
        --sidebar-primary-foreground: 0 0% 100%; /* white */
        --sidebar-accent: 240 5.3% 26.1%; /* zinc-700 */
        --sidebar-accent-foreground: 0 0% 98%; /* zinc-50 */
        --sidebar-border: 240 5.3% 26.1%; /* zinc-700 */
        --sidebar-ring: 217.2 91.2% 59.8%; /* blue-500 */
    }
}

.pages-enter-from {
    transform: translateY(6px);
    opacity: 0;
}
.pages-enter-to {
    transform: translateY(0);
    opacity: 1;
}

.pages-leave-from {
    transform: translateY(0);
    opacity: 1;
}
.pages-leave-to {
    transform: translateY(6px);
    opacity: 0;
}

.pages-enter-active,
.pages-leave-active {
    transition: all 300ms ease-in-out;
}
